.services-container {
  margin: 20px;
  background-color: #fff;
}

.services-list-container {
  border-radius: 5px;
  padding: 20px;
}

.services-item {
  margin: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 30 rgpa(0, 0, 0, 0.1);
  padding: 20px;
}

.services-item i {
  font-size: 2rem;
  margin: 10px;
}

.fa-code {
  color: #e94c89;
}
.fa-desktop {
  color: #fdb448;
}
.fa-tablet-alt {
  color: #c31f0c;
}

.services-desc-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  line-height: 2rem;
}

.services-desc-container h1 {
  padding-bottom: 15px;
  line-height: 3rem;
}

.services-desc-container span {
  font-size: 2.5rem;
  color: #fdb448;
  padding: 5px;
}

.services-container button {
  background-color: #fdb448;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-top: 30px;
  padding: 10px;
}

@media (min-width: 768px) {
  .services-list-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .services-desc-container {
    width: 50%;
  }

  .services-item-container {
    width: 50%;
  }

  .services-item {
    width: 80%;
  }
}
