#Recipes {
  background-color: aquamarine;
  padding: 50px;
}

#Recipes .Recipe {
  border: 1px solid black;
  margin: 10px;
}

#Recipes h3 {
  color: #ba4a00;
}

#Reviews {
  background-color: bisque;
  border: 2px solid green;
}
